<div ng-controller="meetic.components.regform-3steps.ctrl" class="showing-{[{currentView}]}">
    <div ng-attr-class="{[{steps.current == 1 && 'main-block main-block-position' || 'main-block main-block-position'}]}">
        <div class="main-block-greybg pause-trigger" ng-cloak>
            <div class="regform-container" ng-show="currentView == 'regform'">
                <form novalidate name="registerForm" class="simple-form">
                    {% include "@IliusUnlogged/components/regform-3steps/regform-step1.html.twig" %}
                    {% include "@IliusUnlogged/components/regform-3steps/regform-step2.html.twig" %}
                    {% include "@IliusUnlogged/components/regform-3steps/regform-step3.html.twig" %}
                </form>
            </div>
            <div class="login-container" ng-show="currentView == 'loginform'" ng-cloak>
                {% include "@IliusUnlogged/components/regform-3steps/loginform.html.twig" %}
            </div>
            <div class="show-forgottendetails" ng-show="currentView == 'forgottendetails'" ng-cloak>
                <p class="title-forgottendetails">{{ 'form.registration.label.forgottendetails'|trans }}</p>
                <div class="button">
                    <a href="{{ ilius_config['login']['forgotten_email'] }}">{{ 'form.login.label.forgottenemail'|trans }}</a>
                </div>
                <div class="button">
                    <a href="{{ ilius_config['login']['forgotten_password'] }}">{{ 'form.login.label.forgottenpassword'|trans }}</a>
                </div>
            </div>
        </div>
        <div class="push-secondaction pause-trigger push-secondaction-{[{currentView}]}" ng-cloak ng-show="currentView == 'regform' && steps.current == 1 || currentView == 'forgottendetails' || currentView == 'loginform'">
            <div class="show-loginform" ng-show="currentView == 'regform' && steps.current == 1 || currentView == 'forgottendetails'">
                 <a ng-click="currentView='loginform'" href="#">{{ 'form.registration.label.signin'|trans }}</a>
            </div>
            <div class="show-loginform" ng-show="currentView == 'loginform'">
                {{ 'form.registration.label.signup'|trans }}  <a ng-click="currentView='regform'" href="#">{{ 'form.registration.link.signup'|trans }}</a>
            </div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="api-messages">
    <span ng-message="account_invalid_parameters">{{ 'form.registration.errors.error_occurred'|trans }}</span>
    <span ng-message="account_login_not_authorized">{{ 'form.registration.errors.error_occurred'|trans }}</span>
    <span ng-message="invalid_message_received">{{ 'form.registration.errors.error_occurred'|trans }}</span>
    <span ng-message="nickname_invalid_parameters">{{ 'form.registration.errors.error_occurred'|trans }}</span>
    <span ng-message="nickname_already_taken">{{ 'form.registration.errors.error_occurred'|trans }}</span>
    <span ng-message="accounts_nickname_equals_with_password">{{ 'form.registration.errors.accounts_nickname_equals_with_password'|trans }}</span>
    <span ng-message="accounts_nickname_not_blank">{{ 'form.registration.errors.accounts_nickname_not_blank'|trans }}</span>
    <span ng-message="accounts_nickname_bad_length">{{ 'form.registration.errors.accounts_nickname_bad_length'|trans }}</span>
    <span ng-message="accounts_nickname_contains_spaces">{{ 'form.registration.errors.accounts_nickname_contains_spaces'|trans }}</span>
    <span ng-message="accounts_nickname_invalid_first_char">{{ 'form.registration.errors.accounts_nickname_invalid_first_char'|trans }}</span>
    <span ng-message="accounts_nickname_invalid_chars">{{ 'form.registration.errors.accounts_nickname_invalid_chars'|trans }}</span>
    <span ng-message="accounts_nickname_invalid_numbers">{{ 'form.registration.errors.accounts_nickname_invalid_numbers'|trans }}</span>
    <span ng-message="accounts_nickname_invalid_words">{{ 'form.registration.errors.accounts_nickname_invalid_words'|trans }}</span>
    <span ng-message="accounts_password_not_blank">{{ 'form.registration.errors.accounts_password_not_blank'|trans }}</span>
    <span ng-message="accounts_password_bad_length">{{ 'form.registration.errors.accounts_password_bad_length'|trans }}</span>
    <span ng-message="accounts_password_contains_spaces">{{ 'form.registration.errors.accounts_password_contains_spaces'|trans }}</span>
    <span ng-message="accounts_email_not_blank">{{ 'form.registration.errors.accounts_email_not_blank'|trans }}</span>
    <span ng-message="accounts_email_bad_format">{{ 'form.registration.errors.accounts_email_bad_format'|trans }}</span>
    <span ng-message="accounts_email_already_exist">{{ 'form.registration.errors.accounts_email_already_exist'|trans }}</span>
    <span ng-message="members_birth_date_not_blank">{{ 'form.registration.errors.members_birth_date_not_blank'|trans }}</span>
    <span ng-message="members_birth_date_bad_format">{{ 'form.registration.errors.members_birth_date_bad_format'|trans }}</span>
    <span ng-message="members_birth_date_not_adult">{{ 'form.registration.errors.members_birth_date_not_adult'|trans }}</span>
    <span ng-message="members_geo_not_null">{{ 'form.registration.errors.members_geo_not_null'|trans }}</span>
    <span ng-message="members_geo_place_no_city_by_zipcode">{{ 'form.registration.errors.members_geo_place_no_city_by_zipcode'|trans }}</span>
    <span ng-message="members_geo_place_id_not_exists">{{ 'form.registration.errors.members_geo_place_id_not_exists'|trans }}</span>
    <span ng-message="members_geo_place_id_not_blank">{{ 'form.registration.errors.members_geo_place_id_not_blank'|trans }}</span>
    <span ng-message="members_geo_place_id_bad_format">{{ 'form.registration.errors.members_geo_place_id_bad_format'|trans }}</span>
    <span ng-message="members_profile_gender_bad_format">{{ 'form.registration.errors.members_profile_gender_bad_format'|trans }}</span>
    <span ng-message="members_search_gender_bad_format">{{ 'form.registration.errors.members_search_gender_bad_format'|trans }}</span>
    <span ng-message="accounts_partner_id_invalid">{{ 'form.registration.errors.accounts_partner_id_invalid'|trans }}</span>
    <span ng-message="accounts_partner_token_invalid">{{ 'form.registration.errors.accounts_partner_token_invalid'|trans }}</span>
    <span ng-message="accounts_partner_already_used">{{ 'form.registration.errors.accounts_partner_already_used'|trans }}</span>
    <span ng-message="members_kvk_not_blank">{{ 'form.registration.errors.members_kvk_not_blank'|trans }}</span>
    <span ng-message="members_geo_country_not_blank">{{ 'form.registration.errors.members_geo_country_not_blank'|trans }}</span>
    <span ng-message="members_geo_region_not_blank">{{ 'form.registration.errors.members_geo_region_not_blank'|trans }}</span>
    <span ng-message="members_geo_zipcode_not_blank">{{ 'form.registration.errors.members_geo_zipcode_not_blank'|trans }}</span>
    <span ng-message="required">{{ 'form.registration.errors.required'|trans }}</span>
</script>
