<!--
    STEP 1
    - kvk
    - birth date
-->
<div ng-show="steps.current == 1" ng-cloak>
    <div ng-attr-class="{[{registerForm.kvk.$invalid && 'mandatory-field has-error' || 'mandatory-field'}]}">
        <div ng-messages="registerForm.kvk.$error" ng-messages-include="api-messages" class="error-message"></div>
        <label id="kvk_label" for="kvk">{{ 'form.registration.label.kvk'|trans }}</label>
        <select name="kvk" ng-model="user.kvk" ng-change="v(1, registerForm, user, validator.kvk);kvkblack=true;" id="kvk" class="field" ng-class="kvkblack && 'select-black'">
            <option value="" disabled>{{ 'form.registration.kvk_placeholder'|trans }}</option>
            <option value="21">{{ 'form.registration.kvk_fh'|trans }}</option>
            <option value="12">{{ 'form.registration.kvk_hf'|trans }}</option>
            <option value="22">{{ 'form.registration.kvk_ff'|trans }}</option>
            <option value="11">{{ 'form.registration.kvk_hh'|trans }}</option>
        </select>
    </div>
    <div ng-attr-class="{[{registerForm.birth_date_day.$invalid && 'mandatory-field has-error birthday-field' || 'mandatory-field birthday-field'}]}">
        <div ng-messages="registerForm.birth_date_day.$error" ng-messages-include="api-messages" class="error-message"></div>
        <label id="bdaylabel" for="birth_date_day">{{ 'form.registration.label.birthdate'|trans }}</label>
        <div class="row">
            <select name="birth_date_day"
                    ng-model="user.birthdate.day"
                    ng-change="v(1, registerForm, user, validator.birthdate)"
                    id="bday"
                    ng-class="user.birthdate.day && 'select-black'"
                    class="small-12 medium-2 field columns">
                <option value="" disabled selected>{{ 'form.registration.day.placeholder'|trans }}</option>
                {% for i in 1..31 %}
                    <option value="{{ i }}">{{ i }}</option>
                {% endfor %}
            </select>
            <div class="medium-1 columns t8000">.</div>
            <select name="birth_date_month"
                    ng-model="user.birthdate.month"
                    ng-change="v(1, registerForm, user, validator.birthdate)"
                    id="bmonth"
                    ng-class="user.birthdate.month && 'select-black'"
                    class="small-12 medium-5 field columns">
                <option value="" disabled selected>{{ 'form.registration.month.placeholder'|trans }}</option>
                {% for i in 1..12 %}
                    <option value="{{ i }}">{% set keyMonth = 'form.registration.month.' ~ i %}{{ keyMonth|trans }}</option>
                {% endfor %}
            </select>
            <div class="medium-1 columns t8000">.</div>
            <select name="birth_date_year"
                    ng-model="user.birthdate.year"
                    ng-change="v(1, registerForm, user, validator.birthdate)"
                    id="byear"
                    ng-class="user.birthdate.year && 'select-black'"
                    class="small-12 medium-3 field columns">
                <option value="" disabled selected>{{ 'form.registration.year.placeholder'|trans }}</option>
                {% for i in 1997..1910 %}
                    <option value="{{ i }}">{{ i }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <button ng-click="validateStep1(registerForm, user)">
        <div ng-http-loader template="api-loader"></div>
        {{ 'form.registration.cta.step1'|trans }}
    </button>
</div>